
.jc-player-wrapper > .episodes-list {
  background-color: #30343c;
  font-size: 14px;
  line-height: 16px;  
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
}

.jc-player-wrapper > .episodes-list > .item {
  /* margin: 5px; */
  padding: 10px;
  color: white;
  display: grid;
  grid-template-rows: 20px auto;  
  border-radius: 10px;
  /* opacity: 0; */
}

.jc-player-wrapper > .episodes-list > .item:hover {
  background-color: rgba(0,0,0,.5);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;  
  /* border-style: 1px; */
}

.jc-player-wrapper > .episodes-list > .item > .title {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.jc-player-container {
  display: grid;
  background-color: hotpink;
  grid-template-columns: 160px auto;
  grid-auto-rows: 160px;
}

.jc-player-container > .artwork {
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: center;
  align-items: center;  
}

.jc-player-container > .artwork > .artwork-image {
  width: 134px;
  height: 134px;
  border-radius: 8px;
}

.jc-player-container > .metas {
  /* background-color: beige; */
  font-size: 20px;
  line-height: 22px;
  font-weight: 800;
  display: grid;
  grid-template-rows: 30px auto;
  padding: 10px;
}


.jc-player-container > .metas > .title{
  font-size: 1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;  
}

.jc-player-container > .metas > .subtitle{
  font-size: 0.7em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-control {
  display: grid;
  /* background-color: black; */
  grid-template-columns: 100px auto;
}

.player-control > .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;    
  order: 1;
}

.player-control > .controls > .play-pause-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 40px;
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-control > .controls > .play-pause-button > .icon{
  width: 0.6em;
  height: 0.6em;
}

.player-control > .controls > .progress-control {
  width: 20px;
  height: 20px;
  font-size: 20px; 
  display: grid;
}

.player-control > .controls > .progress-control > .icon{
  grid-area: 1/1; 
}

.player-control > .controls > .progress-control > .label{
  grid-area: 1/1;
  text-align: center;
  font-size: 0.5em;
}

.player-control > .progress-bar {
  /* background-color: aqua; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
}

.player-control > .progress-bar > .progress-time {
  display: flex;  
  justify-content: space-between;
  font-size: 0.6em;
}

.player-control > .progress-bar > .slide-container {
  width: 100%;
}

.player-control > .progress-bar > .slide-container > .slider{
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  /* background: linear-gradient(90deg, rgb(117, 252, 117) 60%, rgb(214, 214, 214) 60% ); */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
  background: rgba(255,255,255,0.1);
  /* box-shadow: 0px 1px 10px 1px black; */
}

.player-control > .progress-bar > .slide-container > .slider:hover {
  opacity: 1;
}

.player-control > .progress-bar > .slide-container > .slider::-webkit-slider-thumb {
  -webkit-appearance: none;  
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}


.player-control > .progress-bar > .slide-container > .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 900px) {
  .jc-player-wrapper {
    display: grid;
    grid-template-columns: 680px auto;
  }

  .jc-player-wrapper > .episodes-list {
    height: 300px;
  }
  
}

@media (max-width: 500px) {
  .jc-player-container {
    grid-template-columns: auto;
    grid-auto-rows: 260px 400px;
  }

  .jc-player-container > .metas > .title {
    text-align: center;
  }

  .jc-player-container > .metas > .subtitle {
    text-align: center;
  }  

  .jc-player-container > .artwork > .artwork-image {
    width: 220px;
    height: 220px;
    border-radius: 14px;
  }  

  .player-control {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }  

  .player-control > .controls {
    order: 2;
  }

  .player-control > .progress-bar {
    order: 1;
  }  

  .player-control > .controls > .play-pause-button {
    width: 100px;
    height: 100px;
    font-size: 100px;
    border-radius: 100px;
  }  

  .player-control > .controls > .progress-control {
    width: 50px;
    height: 50px;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .player-control > .controls > .progress-control > .icon{
    grid-area: 1 / 1;
    width: 40px;
    height: 40px;
  }
  
  .player-control > .controls > .progress-control > .label{
    grid-area: 1 / 1;
    font-size: 0.3em;
  }
}