.jc-player-container {
  display: grid;
  background-color: aqua;
  grid-template-columns: 160px auto;
  grid-auto-rows: 160px;
}

.jc-player-container > .artwork {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.jc-player-container > .artwork > .artwork-image {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.jc-player-container > .metas {
  background-color: beige;
  font-size: 20px;
  line-height: 22px;
  font-weight: 800;  
  display: grid;
  grid-template-rows: 30px auto;
  padding: 10px;
}


.jc-player-container > .metas > .title{
  font-size: 1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;  
}

.jc-player-container > .metas > .subtitle{
  font-size: 0.7em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .jc-player-container {
    grid-template-columns: auto;
    grid-auto-rows: 260px 100px;
  }

  .jc-player-container > .metas > .title {
    text-align: center;
  }

  .jc-player-container > .metas > .subtitle {
    text-align: center;
  }  

  .jc-player-container > .artwork > .artwork-image {
    width: 220px;
    height: 220px;
    border-radius: 14px;
  }  
}